

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'poppins', sans-serif;
  color: white;
}



.page {
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}



.container {
  width: min(1200px, 92%);
  margin: 0 auto;
  padding: 40px 0 80px;
  text-align: center;
}



.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.menuBtn {
  width: 44px;
  height: 44px;
  border-radius: 14px;
  border: 1px solid rgba(255,255,255,0.3);
  background: rgba(255,255,255,0.05);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.menuBtn span {
  width: 18px;
  height: 2px;
  background: white;
}

.navbar {
  display: flex;
  gap: 22px;
}

.navbar a {
  text-decoration: none;
  color: rgba(255,255,255,0.8);
  font-size: 14px;
  transition: 0.3s;
}

.navbar a:hover {
  color: white;
}



.logo{
  width: 600px; 
  max-width: 100%;
  display:block;
  margin: 0 auto;
  position: relative;
  border-radius: 35%;
  object-fit: cover;
  top: -20px; 
  filter: drop-shadow(0 20px 40px rgba(0,0,0,0.6));
}




.title {
  font-family: 'pacifico', cursive;
  font-size: 50px;
  color: rgb(247, 213, 219);
  text-shadow: 
    -2px -2px 0 black,
     2px -2px 0 black,
    -2px  2px 0 black,
     2px  2px 0 black;
  margin-bottom: 10px;
}

.stitle {
  font-size: 24px;
  margin-bottom: 10px;
  font-weight: 500;
}

.subtitle {
  font-size: 16px;
  opacity: 0.85;
  margin-bottom: 40px;
}



.loginCard {
  max-width: 420px;
  margin: 0 auto;
  padding: 35px;
  border-radius: 25px;
  background: rgba(255,255,255,0.08);
  backdrop-filter: blur(20px);
  box-shadow: 0 20px 60px rgba(0,0,0,0.5);
  -webkit-box-align: 5px 5px 15px 13px rgba(61, 60, 60, 0.75); 
    box-shadow: 5px 5px 15px 13px rgba(0,0,0,0.75);
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.loginCard h3 {
  margin-bottom: 5px;
}

.inputField {
  padding: 14px;
  border-radius: 20px;
  border: none;
  outline: none;
  background: rgba(0,0,0,0.45);
  color: white;
  font-size: 14px;
}

.inputField::placeholder {
  color: rgba(255,255,255,0.6);
}

.loginBtn {
  padding: 14px;
  border-radius: 30px;
  border: none;
  font-weight: bold;
  background: linear-gradient(90deg, #ff2aa7, #7a2cff);
  color: white;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0 15px 40px rgba(255, 42, 167, 0.4);
}

.loginBtn:hover {
  transform: translateY(-3px);
  box-shadow: 0 20px 50px rgba(255, 42, 167, 0.6);
}

/* ================= RESPONSIVO ================= */

@media (max-width: 900px) {

  .header {
    flex-direction: column;
    gap: 20px;
  }

  .navbar {
    flex-wrap: wrap;
    justify-content: center;
  }

  .title {
    font-size: 34px;
  }

  .stitle {
    font-size: 20px;
  }

  .logo {
    width: 240px;
  }

  .loginCard {
    width: 100%;
    padding: 25px;
  }
}
